.mc.navbar{
  background-color: rgb(255, 188, 64);
}

.mc.navbar .mc-container .logo{
  width: 170px;
  height: 170px;
  vertical-align: middle;
  object-fit: cover;
}


.mc.navbar .mc-container span{
  color: white;
  font-size: 36px;
}

main .container{
  margin-top: 40px;
}


.card img{
  height:190px;
}

.card img:hover{
  cursor: pointer;
  transform: translateY(-0.75em);
  transition: .2s all;
}